* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {

    width: 100%;
    height: 100%;

    overflow: hidden;

}



/* ==========================
   ENVELOPE
========================== */


.tela-envelope {

    width: 100vw;
    height: 100vh;

    position: fixed;

    top: 0;
    left: 0;

    display: flex;

    justify-content: center;
    align-items: center;

    z-index: 10;

}



.envelope {

    width: 100vw;

    height: 100vh;

    object-fit: cover;

    cursor: pointer;

}



.abrindo {

    animation: abrir 1.5s ease forwards;

}



@keyframes abrir {


    0% {

        transform: scale(1);

        filter: brightness(1);

    }


    50% {

        filter: brightness(2);

    }


    100% {

        transform: scale(1.15);

        opacity: 0;

    }


}







/* ==========================
   CONVITE
========================== */


.tela-convite {

    width: 100vw;

    height: 100vh;


    position: fixed;


    top: 0;

    left: 0;


    display: flex;

    justify-content: center;

    align-items: center;


    opacity: 0;

    visibility: hidden;


    transition: 1.5s ease;

}



.convite {


    width: 100vw;

    height: 100vh;


    object-fit: cover;


}







/* ==========================
   CÍRCULOS INVISÍVEIS
========================== */


.areas-clique {


    position: absolute;


    width: 100%;

    height: 100%;


}




.circulo-presentes,
.circulo-local,
.circulo-confirmar {


    position: absolute;


    width: 65px;

    height: 65px;


    border-radius: 50%;


    border: none;


    background: transparent;


    cursor: pointer;


    padding: 0;


}



/* 🎁 LISTA DE PRESENTES */


.circulo-presentes {


    top: 82%;

    left: 17%;


}





/* 📍 LOCAL */


.circulo-local {


    top: 82%;

    left: 44%;


}





/* 💌 CONFIRMAR PRESENÇA */


.circulo-confirmar {


    top: 82%;

    left: 71%;


}






/* ==========================
   PÁGINA DE PRESENTES
========================== */


.pagina-presentes {


    min-height: 100vh;


    overflow-y: auto;


    padding: 25px;


    display: flex;


    justify-content: center;


    align-items: center;


    background:

    linear-gradient(

    180deg,

    #dceeff,

    #9fc9ed,

    #f4f8ff

    );


}



.lista {


    width: 100%;


    max-width: 520px;


    background: rgba(255,255,255,0.8);


    border-radius: 30px;


    padding: 30px;


    text-align: center;


}



.categoria {


    background: white;


    border-radius: 20px;


    padding: 15px;


    margin: 15px 0;


}



.pix {


    background: white;


    border-radius: 20px;


    padding: 20px;


    margin-top: 25px;


}



.voltar {


    display: inline-block;


    margin-top: 20px;


    padding: 12px 25px;


    border-radius: 30px;


    background: #86acd8;


    color: white;


    text-decoration: none;


}
